{% extends 'gov1/base.html' %}
{% block title %}about{% endblock %}

{% block body %}


<div class="container-fluid" style="">
    <div class="row jumbotron" style="margin:0px; padding:0px;">
        <div class = "col-sm-4">
        </div>
	   <div class="col-sm-4">
           <center> <h1>e-governance</h1></center>
       </div>
<div class = "col-sm-4">
</div>
	 </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>
<center><h1></h1></center>
<b>
<p>Project by : <br>Himanshu Reddu
<br>1214201 <br>4CO1 </p>
</b>
{% endblock %}